label {
 font-size: 3rem;
 vertical-align: middle;
}

.radioWrapper {
 display: inline-block;
 font-size: 1.5rem;
 height: 3rem;
 position: relative;
 width: 3rem;
 vertical-align: middle;
 margin-top: 50%;
 margin: 0.5rem;
}

[type="radio"] {
 cursor: pointer;
 height: 100%;
 left: 0;
 margin: 0;
 opacity: 0;
 position: absolute;
 top: 0;
 width: 100%;
 z-index: 0;
}

[type="radio"] {
 + span {
  border: 0.3rem solid #51c0a9;
  border-radius: 50%;
  box-shadow: 0 0 0 0 transparent;
  display: block;
  height: 100%;
  position: relative;
  transition: box-shadow 300ms ease-in-out;
  width: 100%;
  z-index: -1;

  &::after {
   color: aqua;
   content: "❤️";
   font-size: 2em;
   left: 0.07em;
   opacity: 0;
   position: absolute;
   top: -0.2em;
   transform: scale(0);
   transition: all 300ms ease-in-out;
  }
 }
 &:checked + span::after {
  opacity: 1;
  transform: scale(1);
 }
 &:focus + span {
  box-shadow: #1b1d21;
 }
}
