#native-accordion-group {

    /*  targeting the wrapper of each accordion section to handle the flex display and formatting */
    .accordion-section-wrapper {
        width: 45%;
        margin: auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    /*  simple formatting to retain image quality responsively within a content section */
    .accordion-content-section img {
        width: 50%;
        height: auto;
        margin: 1rem;
    }

    /*  simple formatting for our heading elements in each accordion section */
    .accordion-section-wrapper h5 {
        font-size: 1.2em;
        width: 40%;
    }

    /*  removing the border (NOTE: NOT removing the OUTLINE which focus indicators inherit their style from) and stylizing the buttons a little bit for a cleaner look */
    .accordion-section-wrapper button {
        cursor: pointer;
        height: 3em;
        font-size: 1em;
        color: #c80a00;
        background-color: white;
        border: none;
        border-bottom: grey 1px solid;
    }

    /*  we set the default nature of the accordions to display:none, or collapsed, and wait to apply a class that will override this style */
    /*  the content has also been formatted slightly */
    .accordion-content-section {
        display: none;
        width: 80%;
        margin: auto;
    }

    /*  any accordion section with an open class will result in that accordion section getting this style, which overrides the display:none default */
    .open {
        display: block;
    }

    /*  extra base styling for an image accordion section */
    .imageAccordionSection {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
    }

    /*  extra base styling for a form accordion section */
    .formAccordionSection {
        margin: auto;
        display: flex;
        width: 60%;
        justify-content: center;
    }

    /*  base styling for icon */
    .accordion-icon {
        width: 10px;
        height: auto;
        margin-left: 2em;
    }

    /* handle icon rotation */

    details {
        max-width: 500px;

        /* This all effectively recreates the default triangle marker */
        summary {
            /* this removes the marker */
            list-style-type: none;
            display: flex;
            justify-content: left;
            align-items: center;
            gap: 0.35rem;
            cursor: pointer;

            &:hover {
                background-color: #EEE;
            }
        }

        /* This removes the marker for webkit browsers */
        summary::-webkit-details-marker {
            display: none;
        }

        /* Adds the marker back, use ::after to place it after the summary text */
        summary::before {
            content: "" / "";
            border: 6px solid transparent;
            position: relative;
            top: 3px;
            width: 0;
            height: 0;
            border-top-color: black;
        }

        /* change marker based on state */
        &[open] {
            summary::before {
                border-color: transparent;
                border-left-color:black;
                top: 0;
            }
        }
    }
}